body, header {
        background: linear-gradient(90deg, #b9deed, #efefef);
}

body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

.container {
            flex: 1;
        }

a {
        color: #6c757d;
        text-decoration: none;
        transition: color 0.3s;
    }

a:hover {
        color: #000;
    }

.message-container {
    display: flex;
    flex-direction: column;

}

.my-message-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.other-message-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.my-message, .other-message {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.my-message {
    background-color: #0088cc;
    color: #fff;
}

.other-message {
    background-color: #e5e5ea;
}

.user-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.main_man {
    max-width: 300px;
    border-radius: 20px;
}