{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- Хедер -->
<header class="bg-primary text-secondary py-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>WorkWave</h1>
                <p>Найти надёжного исполнителя для любых задач</p>
            </div>
            <div>
                {% if user.is_authenticated %}
                <div>
                    <p class="text-secondary px-3">Добро пожаловать, {{ user.username }}</p>
                    <div class="d-flex">
                        <a href="{% url 'profile' %}" class="text-secondary px-3">Профиль</a>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Выйти</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <a href="" class="text-secondary px-3">Найти задание</a>
                <a href="" class="text-secondary px-3">Создать задание</a>
                <button class="btn btn-secondary px-3" onclick="window.location.href='{% url 'register' %}'">Войти</button>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<!-- Футер -->
<footer class="bg-dark text-white py-4 fixed-bottom">
    <div a="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023 Your Project. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>Contact us: example@example.com</p>
            </div>
        </div>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
